body {
  font-family: 'PT Mono', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

h2 {
  position: relative;
  top: 16px;
}

a {
  text-decoration: none;
  color: teal;
}

form {
  position: relative;
  display: flex;
  justify-content: space-around;
}

img {
  bottom: 10px;
  position: relative;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  border: 1px solid teal;
  border-radius: 5px;
  color: teal;
  padding: 20px 20px 10px 20px;
}

.overview {
  display: block;
  margin-bottom: 20px;
}

.search-form {
  position: relative;
  display: flex;
}

.search-field {
  width: 180px;
  max-height: 35px;
}

.buttons {
  position: relative;
  left: 15px;
  display: flex;
  justify-content: space-around ;
}

.btn {
  max-width: 66px;
  bottom: 3px;
  position: relative;
  max-height: 35px;
}

.current-temp {
  font-size: xxx-large;
}

.units {
  font-size: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -24px;
}

.temperature {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
}


.city-country {
  display: flex;
}

.weather-description ul {
  display: grid;
  position: relative;
  align-content: space-between;
  justify-content: space-around;
  top: -50px;
}

.weather-description {
  display: grid;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
  top: 50px;
}

.temperature-description {
  position: relative;
  bottom: 36px;
  left: 40px;
}

.overview {
  position: relative;
  display: flex;
  justify-content: flex-start;
}


